CONNECTOR_DAEMON_IMAGE=artifacts.home.lab/docker-images/jenkins-connector-daemon:0.0.1
CONNECTOR_DASHBOARD_IMAGE=artifacts.home.lab/docker-images/jenkins-connector-dashboard:0.0.1
AZURE_ORGANIZATION_URL=https://dev.azure.com/your-org
AZURE_PAT=your-pat
DATA_DIR=/opt/connector-daemon/data